<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andy.infrastructure">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <!-- bugly -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_xxh"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!-- Retrofit -->
        <activity android:name=".demos.retrofit.SimpleRetrofit" />

        <!-- RxJava -->
        <activity android:name=".demos.rxjava.DemoRxJavaActivity" />
        <activity android:name=".demos.rxjava.RxJavaDataBindActivity" />

        <!-- Material -->
        <activity android:name=".demos.material.Material1Activity" />

        <!-- Process -->
        <activity
            android:name=".demos.multiprocess.Demo4ProcessActivity"
            android:process=":dragon" />

        <!-- DataBinding -->
        <activity android:name=".demos.databinding.DataBindActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.andy.infrastructure.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".demos.animotion.AnimationActivity" />
        <activity android:name=".demos.gesture.ScrollerDemoActivity" />
        <activity android:name=".demos.gesture.SlidingConflict" />
        <activity android:name=".demos.other.DemoExpandableListViewActivity"/>
        <activity android:name=".demos.permission.ManualRequestPermissionActivity"/>
        <activity android:name=".demos.custome_view.CustomeViewActivity"/>

        <!--进程保活-->
        <activity android:name=".demos.other.KeepAliveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/LiveActivtiyStyle"/>
        <service android:name=".demos.other.KeepLiveService">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </service>

    </application>

</manifest>